.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(39, 39, 39);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(219, 239, 252);
    align-items: center;
    min-width: 40%;
    padding: 1%;
}

.title{
    border-radius: 10px;
    background-color: lightseagreen;
    color: white;
    padding: 1%;
}